*{
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
}

.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}

.container-fluid{
  display: flex;
}

.header{
  width: 23%;
  display: flex;
  flex-direction: column;
  background: lightblue;
  float: left;
  height: 100%;
}

.content{
  background: $blue-300;
  height: 100%;
  float: right;
}

.logo{
  height: 40px;
  width: 150px;
  border: 1px solid $dark;
  background: $gray-100;

}

.nav{
  background: $gray-100;
  font-size: 16px;
}

.container-max{
  padding: 32px;
}
